.page-container {
    border-top: 3px solid #003B56;
    padding-top: 20px;
    width: 100%;
}

.page-container-inner {
    border: 1px solid #DCDCDC;
    border-radius: 5px;
    margin: 0;
    padding: 30px 0px 50px 0px;
}

.page-container-inner-form {
    padding: 30px 35px 10px 15px;
}

.page-container-inner-list .users {
    margin-top: 50px;
}

.page-container-inner-view {
    padding: 10px 35px 20px 35px;
}

.page-container-inner-interviews {
    border-top: 2px solid #DCDCDC;
}