.table thead {
    background-color: #6A6A6A;
    color: white;
}

.table thead a {
    color: white;
}

.table th, .table td {
    border-top: none;
    border-bottom: 1px solid #E5E5E5;
}

.table-hover tbody tr:hover > td,
.table-hover tbody tr:hover > th {
    background-color: #E9F3FF;
}

.table .actions {
    width: 60px;
}

.table .icon-gear {
  background-image: url(gear.png);
  display: inline-block;
  height: 20px;
  width: 20px;
}

.table .icon-editor {
  background-image: url(edit.png);
  display: inline-block;
  height: 20px;
  width: 20px;
}

.